
.sao-filters-header{
    background: @dark-blue;
    color:white;
    font-size: 24px;
    .largeScreen({
        font-size: 36px;
    });

    &__content{
        position: relative;
        height: 84px;
        .flex-display();
        .align-items(center);
        .largeScreen({
            height: 138px;
        });
        &::after{
            left: -15px;
            bottom: -30px;
            position:absolute;
            content:"";
            width: 0; 
            height: 0; 
            border-left: 35px solid transparent;
            border-right: 35px solid transparent;        
            border-top: 35px solid @dark-blue;
            .largeScreen({
                left: 0;
                bottom: -35px;
            });
        }
    }
}

.sao-filters{
    color: white;
    background: @grey;
    padding: 25px 0;
    .largeScreen({
        padding: 85px 0;
    });
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        color: @dark-blue;
    }
    &__type{
        width: 100%;
    }
    //The "?" - Does not apply to internal
    &__popover{
        cursor: pointer;
        margin-left: 0.5rem;
        svg{
            fill: @dark-blue;
        }
        &-inner{

        }
    }
    &__button{
        font-family: @font-family-bold;
        font-size: 18px;
        cursor: pointer;
        &-layout{
            .flex-display();
            .align-items(center);
        }        
        &--apply{
            background-color: @yellow;
            color: white;
            width: 88%;
            text-align: center;
            padding: 9px 0;
        }
        &--reset{
            font-size: 16px;
            color: @text-color;
            flex: 1 1 auto;
            .flex-display(inline-flex);
            .flex-direction(column);
            .align-items(center);
            background-color: transparent;
            svg{
                fill: @dark-blue;
                font-weight: bold;
            }
        }
    }
    &__label{
        color: @text-color;
    }
    &__select{
        .ant-select-arrow{
            color: black;
        }
    }
    &__row{
        .largeScreen({
            padding-top: 1rem;
        });
    }
}
