.header{
    background-color: white;
    &__logo{
        height: 88px;
        .flex-display();
        .flex-direction(column);
        .justify-content(center);
        .largeScreen({
            height: 135px;
        });
        &--img{
            height: 35px;
            .largeScreen({
                height: auto;
            });
        }
    }
    &__hero{
        width: 100%;
        > .container{
            position: relative;
            height: 440px;
            .flex-display();
            .align-items(center);
            .justify-content(flex-start);
        }
        &-text{          
            &--header{
                color: @dark-blue;
                font-family: @font-family-bold;
                font-size: 3.0rem;
            }
            &--body{
                color: @text-color;
                font-size: 1.563rem;
                display: none;
                .largeScreen({
                    display:block;
                });
            }
        }
    }
}