.header{
    &__logo{
        padding: 1rem 0;
    }
    &__hero{
        width: 100%;
        > .container{
            position: relative;
            height: 440px;
            .flex-display();
            .align-items(center);
            .justify-content(flex-start);
        }
        &-text{          
            &--header{
                color: @dark-blue;
                font-family: @font-family-bold;
                font-size: 48px;
            }
            &--body{
                color: @text-color;
                font-size: 25px;
                display: none;
                .largeScreen({
                    display:block;
                });
            }
        }
    }
}