@media print {
    .header__hero-text--header .mobile{
        display:none;
    }
    .header__hero-text--header .desktop{
        display:block;
    }
    .desktop {
        padding-bottom: 2rem
    }
    html, body, .compare-careers{background-color: transparent;}
    body {
    }
    .container{
        width: auto;
        max-width: none;
    }
    .results-background{
        padding: 0;
    }
  
    .header__hero > .container {
        height: auto;
        border-top: 5px solid #000;
    }

    .header{
        background-color: white;
        &__logo{
            height: 40px;
            &--img{
                height: 30px;
                margin-bottom: 10px;
                color: #000;
            }
        }
        &__hero{
            width: 100%;
            background-image: none !important;
            > .container{
                height: auto;
            }
            &-text{          
                &--header{
                    color: @print-color;
                    font-family: @font-family-bold;
                    font-size: 2rem;
                    margin-top: 2rem;
                }
                &--body{
                    display: none;
                }
            }
        }
    }

    .results-wrapper {
        padding-bottom: 0;
        border-top: 0;
        border-bottom: 0;
        margin-bottom: 0;
        .ant-col{ 
            width: 100%;
            .flex(0 0 100%);
            max-width: 100%;
        }
        .ant-row{
            display: block;            
        }
        .results-compare{
            display: none;
        }
    }

    .sao-filters-header {
        display: none;
    }

    .sao-filters {
        background: white;
        padding: 0 0 2rem;
        &__help {
            display: none;
        }
        &__type {
            margin-bottom: 0;
            .ant-col {
                width: 65%;
                display: inline-block;
            }
            input[type=text]{
                background: transparent;
                border: none;
                padding: 0;
                width: auto !important;
                min-width: 320px;
            }
        }
        &__row{
            display: block;
            padding: 0 16px;
            > .ant-col{
                padding:0;
                width:100%;
                .flex(0 0 100%);
                max-width: 100%;
            }   
        }
        &__label {
            width: 35%;
            display: inline-block;
            font-family: @font-family-bold;
        }
        &__popover {
            display: none;
        }
        &__select {
            width: auto !important;
            .ant-select-arrow {
                display: none;
            }
            .ant-select {
                width: 100% !important;
                .ant-select-selector {
                    background: transparent;
                    border: none;
                    padding: 0;
                    width: auto !important;
                }
            }
        }

        .ant-select:not(.ant-select-customize-input) .ant-select-selector {
            background: transparent;
            border: none;
            padding: 0;
            width: auto !important;
        }

        &__filter-buttons{
            display: none;
        }
    }
    .ant-table-wrapper{
        table{
            table-layout: auto !important;
        }
    }
    .ant-table{
        td.jobOpenings{
            text-align: left;            
        }

        &-thead{
            > tr{
                *:nth-child(3){
                    display: none;
                    width: 0;
                }       
            }
        }
        &-body{
            max-height: none !important;
            overflow-y: visible !important;
        }    
        &-tbody{
            > tr{
                *:nth-child(3){
                    display: none;
                }
                td{
                    border-color: #c2c2c2;
                    border-width: 1px;
                }       
            }
        }
        &-cell-scrollbar{
            display:none;
        } 
        .table-header{
            &__icon {
                display:none;
            }
            &__title {
                font-size: 1.2rem;
            }
        }
    }

    .ant-table-container .ant-table-body {
        max-height: auto !important;
        overflow: none !important;
    }

    .ant-table-container .ant-table-tbody td a {
        color: @print-color !important;
    }

    .ant-table-thead > tr th{
        background: @grey !important;
        background-color: @grey !important;
        color: @print-color;
    }
    .results-header{
        &__text{
            margin-bottom: 1rem;
 
        }
        &__printtitle{
            display: block;
            font-family: @font-family-bold;
            font-size: 1.5rem;
            border-bottom: 5px solid @grey;
            padding: 0 1rem 0.25rem;
            margin-left: -16px;
            margin-right: -16px;
        }
        &__text{
            font-size: 0.875rem;
            .highlighted-text{
                font-family: @font-family-bold;
                color: @print-color;
            }
        }
    }
    .result-detail{
        margin: 1rem 0 0 0;
        max-width: none;
        &__printtitle{
            margin-top: 3rem;
            display: block;
            font-family: @font-family-bold;
            font-size: 1.5rem;
            border-bottom: 5px solid @grey;
            padding: 0 1rem 0.25rem;
            margin-left: -16px;
            margin-right: -16px;
        }
        border: none;
        &__header, 
        &__body, 
        &__thumbnail, 
        &__footer{
            padding: 0;
        }
        &__header{
            background-color: white;
            color: @print-color;
            font-family: @font-family-bold;
            height: auto;
            padding: 1rem 0 0;
            &-details{
                &-ellipsis {
                    display: none;
                }
                &-print {
                    display: block;
                    font-family: @font-family;
                    span{
                        font-family: @font-family-bold;
                    }
                }
            }

        }
        &__body{
            margin-bottom: 0;
        }
        &__thumbnail{
            display: none;
            img{
                display: none;
            }
            iframe {
                display: none;
            }
            &__preview {
                display: none;
                iframe {
                    display: none;
                }
                img {
                    display: none;
                }
            }
        }
        &__footer{
            &__button-box {
                display: none;
            }
        }    
    }
    .result-body{
        &__row{
            width:70%;
            border-bottom: 2px solid @grey;
            &-left{
                width:40%;
            }
            &--last{
                border-bottom: none;
            }
            &-right{
                text-align: left;
            }
            &-description{
                display: inline-block;
            }
            &-ellipsis{
                display: none;
            }
        }

    }
    .results-table-mobile-controls{
        display:none;
    }

    .ant-select-selection-item{
        text-overflow:unset;
    }

    .results-compare {
        display: none;
    }
    .tools-resources {
        display: none;
    }
    .footer-content {
        display: none;
    }
    .footer-content-print {
        padding-top: 5px;
        border-top: 6px solid @print-color;
        display: block;
    }

    .footer{
        padding: 0;
        margin-top: 2rem;
    }
    
    /* Compare Careers */
    .back-to-home{
        display: none;
    }
    
    .compare-controls{
        display: none;
    }

    
    .compare-careers{
        .ant-col{
            max-width: 100%;
            .flex(0 0 100%);
            padding: 0 16px;
        }
        .result-detail{
            margin-top: 0;
        }
    }
    .compare-container, .compare-container-header{
        .header__logo{
            max-width: none;
            padding: 1rem 1rem 1rem;
            margin-left: -16px;
            margin-right: -16px;
            border-bottom: 5px solid black;
            height: 50px;
            margin-bottom: 2.5rem;
            margin: 0 0 1.0rem;

        }
        h1, .h1{
            border-bottom: 5px solid @grey;
            padding: 0 1rem 0.25rem;
            margin-left: -16px;
            margin-right: -16px;
            margin-bottom: 0;
        }
        .footer-content-print {
            padding: 0 1rem 0.25rem;
            margin-left: -16px;
            margin-right: -16px;
        }
    }

    .compare-container__title {
        border-bottom: 5px solid @grey;
        padding: 0 1rem 0.25rem;
        margin-left: -16px;
        margin-right: -16px;
        margin-bottom: 0;
        max-width: none;
        &--printonly{
            border: none;
            padding: 0 16px;
            margin: 0;
            font-size: 38px;
            margin-bottom: 1.5rem;
        }
    }
    .compare-container__title__icons {
        display:none;
    }

    .preview-career__header-icons {
        display: none;
    }
    .print-only{
        display:block;
    }
}

