
.results-wrapper{
    margin-right: -1.0rem;
    margin-left: -1.0rem;
    background: white;
    border-top: 15px solid @border-grey;
    padding: 0 1.0rem 2rem;
    margin-bottom: 1rem;
    border-bottom: 6px solid @results-border-color;
    .largeScreen({
        margin-right: -1.0rem;
        margin-left: -1.0rem;
        margin-top: -50px;
        padding: 0 16px 2rem;
        margin-bottom: 2rem;
    });
}

.results-compare{
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    .largeScreen({
        padding-top: 0;
        padding-bottom: 0;
    });
    .compare-description{
        margin-bottom: 1.5rem;
        &__flexbox {
            display: flex;
            align-items: stretch;
            > span {
                margin: none;
                align-self: center;
                .largeScreen({
                    margin: auto;
                })
                :hover {
                    color: @yellow;
                }
            }
            &__icon > svg{
                color: @yellow;
                font-size: larger;
                align-self: center;
            }
        }
    }
    .compare-buttons{
        width: 85%;
        .largeScreen({
            width: auto;
        });
        button{
            width: calc(50% - 4px);
            .largeScreen({
                width: auto;
            })
        }
        &__compare {
            &:enabled{
                background: @yellow;
                color: white;
                border: none;
            }
            &:enabled:hover{
                background: @light-blue;
            }
        }
        &__clear {
            margin-right: 8px;
            &:enabled {
                color: @light-blue;
                border-color: @light-blue;
            }
            &:enabled:hover{
                background: @grey;
            }
        }
    }
    
    //Print Email Icons 
    .print-email-buttons{
        padding: 0;
        margin: auto;
        .largeScreen({
            padding: 0 8px;   
        });
        text-align: right;
        .anticon-printer{
            margin-right: 0.5rem;
        }
    }
}

.table-header {
    display: inline-flex;
    justify-content: space-around;

    .table-header__title {
        span {
            font-family: @font-family;
            font-weight: 400;
            display: block;
        }
    }
    &__icon {
        align-self: initial;
        margin: auto;
        :hover {
            cursor: pointer;
        }
    }

    .downicon {
        :hover {
            fill: @yellow;
        }
    }
}

.sort-options {
    display: inline-grid; 
    a {
        color: black;
        padding: 0.4em;
    }
    a:hover {
        font-weight: bold;
    }

    &__popover-inner {
        .ant-popover-title {
            border-bottom: none;
        }
        
        .ant-popover-content {
            width: 150px;
        }
        
        .ant-popover-inner-content {
            padding-top: 0px;
        }
    }
}

.results-header{
    &__text{
        font-size: 27px;
        font-weight: 400;
        margin-top: 0.5rem;
        .largeScreen({
            margin: 1rem 0;
        });
        .highlighted-text{
            color: @light-blue
        }
    }
}

.anticon :hover {
    color:  @light-blue;
}


.preview-career, .result-detail{
    height: 100%;
}
.result-detail{
    border: 1px solid @grey;
    &__header, 
    &__body, 
    &__thumbnail, 
    &__footer{
        padding: 0 1rem;
    }
    &__header{
        background-color: @light-blue;
        color: white;
        font-family: @font-family-bold;
        padding: 0 1rem;
        height: 64px;
        .flex-display();
        .align-items(center);
        &--noc{
            font-family: @font-family;
        }
    }
    &__thumbnail{
        margin: 0 auto;
        margin-top: 1.5rem;
        img{
            width:100%;
            height: 180px;
        }
        iframe {
            width: 100%;
            height: 180px;
        }
        &__preview {
            iframe {
                width: 90%;
                height: 180px;
                margin: 5% 5% 0 5%;
            }

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 1rem;
            }
        }
    }
    &__body{
        margin: 1rem 0.25rem 0;
    }
    &__footer{
        button{
            margin-bottom: 1.0rem;
        }
        &__button-box {
            display: flex;
            justify-content: space-around;

            &__career:hover {
                background-color: @dark-blue;
            }

            &__jobs {
                color: @light-blue;
                border-color: @light-blue;
            }

            &__jobs:hover {
                background-color: @grey;
            }
        }
        &__button-box > div{
           flex: 1 1 0;
        }
    }
    &--compare{
        .flex-display();
        .flex-direction(column);
        .result-detail__thumbnail{
            margin: 1.5rem 0 0;
        }
        .result-detail__footer{
            margin-top: auto;
        }
    }
}

.compare-careers{
    &--center{
        .justify-content(center);
    }
}


.result-body{    
    &__row{
        border-bottom: thin solid @border-grey-thin;
        padding: 0.5rem 0;
        .flex-display();
        &--last{
            border: none;
        }
        &-right, &-left{
            .flex(0 0 auto);
        }
        &-left{
            width: 50%;
        }
        &-right{
            width: 50%;
            text-align: left;
        }
        span {
            display: block;
        }
    }
    margin-bottom: 2rem;
}

.selected {
    color: blue
}

.unselected {
    color: black
}