// From here you can overwrite the ant design theme's default properties
// For a list of all properties go here
// https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less

@font-size-base: 16px; 
@font-family: "BC-Sans-Regular", san-serif;
@font-family-bold: "BC-Sans-Bold", "BC-Sans-Regular", san-serif;
@text-color: #333;
@border-radius-base: 0;

//Colours
// --
@primary-color: #234075;
@yellow: #E3A82B; //government yellow
@dark-blue: #355992; //government blue
@light-blue: #007eb4;
@light-blue-btn: #007eb4;
@grey: #e6e6e6;
@border-grey: #d6d6d6;
@border-grey-thin: #ccc;;
@results-background: #f2f2f2;
@results-border-color: #007eb4;

// height rules
@height-base: 40px;
@height-lg: 48px;
@height-sm: 32px;

// LINK
// --
@link-color: @primary-color;
@link-decoration: none;
@link-hover-decoration: none;
@link-focus-decoration: none;
@link-focus-outline: 0;

// Buttons
// --
@btn-font-weight: 400;
@btn-shadow: none;
@btn-primary-shadow: none;
@btn-text-shadow: none;
@btn-primary-color: #fff;
@btn-primary-bg: @light-blue-btn;
@btn-secondary-color: @light-blue-btn;
@btn-secondary-bg: #fff;

@input-height-base: @height-base;


// Table
// --
@table-header-bg: @dark-blue;
@table-header-color: white;
@table-header-sort-bg: white;
@table-font-size: 16px;
@table-row-hover-bg: inherit;


// Popover
// ---
// Popover body background color
@popover-bg: White;
// Popover text color
@popover-color: @text-color;
// Popover maximum width
@popover-min-width: 273px;
@popover-min-height: 32px;
// Popover arrow width
@popover-arrow-width: 15px;
// Popover arrow color
@popover-arrow-color: @yellow;
// Popover outer arrow width
// Popover outer arrow color
@popover-arrow-outer-color: @yellow;
// Popover distance with trigger
@popover-distance: @popover-arrow-width;


