SELECT * FROM [dbo].[NOC]
SELECT * FROM [dbo].[NOCOccupationGroup]
SELECT * FROM [dbo].[NOCOccupationInterest]
SELECT * FROM [dbo].[NOCVideos]
SELECT * FROM [dbo].[CommonJobTitle]
SELECT * FROM [dbo].[EducationLevel]
SELECT * FROM [dbo].[FullOrPartTime]
SELECT * FROM [dbo].[GeographicArea]
SELECT * FROM [dbo].[Industry]
SELECT * FROM [dbo].[SubIndustry]
SELECT * FROM [dbo].[JobOpening]
SELECT * FROM [dbo].[OccupationalInterest]
SELECT * FROM [dbo].[OccupationInterestOption]
SELECT * FROM [dbo].[OccupationGroup]


